In [2]:
import numpy as np
import pandas as pd
import re

In [17]:
# I got this data from http://www.nationmaster.com/country-info/stats/Economy/GDP#
# but I had to select the year and then select all the rows of the table on the page.
# then I copied what I had selected and put it in LibreOffice Writer.  Once in there
# I selected the Table tab and under that selected Convert and under that selected
# Table to Text.  I then saved it as a txt file.  Then on the linux command line
# did the following sed command:
# :sed 's/\t/,/g' infile.txt > outfile.csv
# Now I finally had a csv file I could read_csv into a dataframe.
gdps = pd.read_csv('gdp2010.csv')
gdps.tail(5)

                   country      gdp  year
215  Sao Tome and Principe  0.20104  2010
216                  Palau  0.19654  2010
217       Marshall Islands  0.16294  2010
218               Kiribati  0.14161  2010
219                 Tuvalu  0.03182  2010

In [4]:
gdps.drop('What', axis=1,inplace=True)  # new_gdps.columns is zero-based pd.Index 
gdps.head(5)

                             country               gdp  year
0                     European Union  $16.23 trillion   2010
1                      United States  $14.42 trillion   2010
2                              China   $5.95 trillion   2010
3                              Japan   $5.50 trillion   2010
4  Group of 7 countries (G7) average   $4.52 trillion   2010

You'll notice from the partial dump above that the gdp is not in a form
that can be used for numeric calculations.  The gnp could be in trillions,
billions or millions.  I'm changing them all to be in billions by
multiplying the number part of the gnp by 1000 if it is in trillions, by
1 it is in billions and by .001 if it is in millions.

I use regular expressions to extract the number and trillion/billion/million
part of the gdp field.  pat1 is for the number and pat2 is for the other part.

In [14]:
pat1=r'(\d+.\d+)'
re1=re.compile(pat1)
pat2=r'([tbm]\w+)'
re2=re.compile(pat2)

In [15]:
def gdp_modifier(x):
    num = float(re1.search(x).group())
    multword = re2.search(x).group()
    if multword == 'trillion':
        mult = 1000.0
    elif multword == 'million':
        mult = .001
    else:
        mult = 1.0
    return (num * mult)

In [7]:
gdps['gdp'] = gdps['gdp'].apply(gdp_modifier)

In [8]:
gdps.to_csv('gdp2010.csv', line_terminator='\n', index=False, header=True)

I will be doing exactly the same process for 1980 gdp file as I did for the
2010 one.  I got the data from the same web page and just selected 1980.

In [11]:
gdps = pd.read_csv('gdp1980.csv')
gdps.tail(5)

                   country              gdp  yearï»¿  What
150               Dominica  $59.10 million    1980   NaN
151                  Tonga  $53.26 million    1980   NaN
152  Saint Kitts and Nevis  $48.00 million    1980   NaN
153               Maldives  $42.46 million    1980   NaN
154               Kiribati  $27.94 million    1980   NaN

In [12]:
gdps.drop('What', axis=1,inplace=True)  # new_gdps.columns is zero-based pd.Index 
gdps.head(5)

                             country               gdp  yearï»¿
0                     European Union   $3.81 trillion    1980
1                      United States   $2.77 trillion    1980
2                              Japan   $1.09 trillion    1980
3  Group of 7 countries (G7) average  $962.15 billion    1980
4                            Germany  $919.61 billion    1980

In [13]:
gdps['gdp'] = gdps['gdp'].apply(gdp_modifier)

In [16]:
gdps.to_csv('gdp1980.csv', line_terminator='\n', index=False, header=True)

forgot to change column name of gdp to gdp (in billions)

In [19]:
gdps = pd.read_csv('gdp2010.csv')
gdps.head(5)

                             country      gdp  year
0                     European Union  16230.0  2010
1                      United States  14420.0  2010
2                              China   5950.0  2010
3                              Japan   5500.0  2010
4  Group of 7 countries (G7) average   4520.0  2010

In [22]:
gdps.rename(columns={'gdp':'gdp (in billions)'},inplace=True )

In [23]:
gdps.to_csv('gdp2010.csv', line_terminator='\n', index=False, header=True)