In [1]:
import numpy as np
import pandas as pd
import re

In [17]:
# I got this data from http://www.nationmaster.com/country-info/stats/Economy/GDP#
# but I had to select the year and then select all the rows of the table on the page.
# then I copied what I had selected and put it in LibreOffice Writer.  Once in there
# I selected the Table tab and under that selected Convert and under that selected
# Table to Text.  I then saved it as a txt file.  Then on the linux command line
# did the following sed command:
# :sed 's/\t/,/g' infile.txt > outfile.csv
# Now I finally had a csv file I could read_csv into a dataframe.
gdps = pd.read_csv('gdp2010.csv')
gdps.tail(5)

                   country               gdp  year  What
215  Sao Tome and Principe  $201.04 million   2010   NaN
216                  Palau  $196.54 million   2010   NaN
217       Marshall Islands  $162.94 million   2010   NaN
218               Kiribati  $141.61 million   2010   NaN
219                 Tuvalu   $31.82 million   2010   NaN

In [18]:
gdps.drop('What', axis=1,inplace=True)  # new_gdps.columns is zero-based pd.Index 
gdps.head(5)

                             country               gdp  year
0                     European Union  $16.23 trillion   2010
1                      United States  $14.42 trillion   2010
2                              China   $5.95 trillion   2010
3                              Japan   $5.50 trillion   2010
4  Group of 7 countries (G7) average   $4.52 trillion   2010

In [19]:
pat1=r'(\d+.\d+)'
re1=re.compile(pat1)
pat2=r'([tbm]\w+)'
re2=re.compile(pat2)

In [20]:
def gdp_modifier(x):
    num = float(re1.search(x).group())
    multword = re2.search(x).group()
    multword.strip()
    if multword == 'trillion':
        mult = 1000.0
    elif multword == 'million':
        mult = .001
    else:
        mult = 1.0
    return (num * mult)

In [21]:
gdps['gdp'] = gdps['gdp'].apply(gdp_modifier)

                               country       gdp  year
0                       European Union  16230.00  2010
1                        United States  14420.00  2010
2                                China   5950.00  2010
3                                Japan   5500.00  2010
4    Group of 7 countries (G7) average   4520.00  2010
5                              Germany   3280.00  2010
6                               France   2550.00  2010
7                       United Kingdom   2260.00  2010
8                               Brazil   2140.00  2010
9                                Italy   2040.00  2010
10                               India   1710.00  2010
11                              Canada   1580.00  2010
12                              Russia   1520.00  2010
13     Non-religious countries average   1510.00  2010
14                               Spain   1380.00  2010
15  High income OECD countries average   1320.00  2010
16                           Australia   1140.00  2010
17                              Mexico   1030.00  2010
18                         South Korea   1010.00  2010
19              Cold countries average    892.79  2010
20  Heavily indebted countries average    851.92  2010
21                         Netherlands    774.66  2010
22                              Turkey    731.14  2010
23                           Indonesia    709.27  2010
24            Emerging markets average    702.23  2010

In [32]:
gdps.to_csv('gdp2010.csv', line_terminator='\n', index=False, header=True)